<body>
  <img src="/assets/images/logo-endless.svg" alt="images" class="topLabel">
  <div id="main">
    <img class="photoImage" src="/assets/images/photo-couch.jpg" alt="images">
    <button class="buttonHover">Get Started</button>
  </div>
  <footer>
    <div class="titleworks">
      <p>How it works!</p>
    </div>
    <div class="testContainer">
      <div *ngFor="let item of title; let i = index">
        <p>{{item.stepNumber}}</p>
        <p>{{item.versionContent[0].title}}</p>
        <p>{{item.versionContent[0].body}}</p>
      </div>
    </div>
  </footer>
</body>